@media print,
(max-width: 767px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 14px;
        --font_size_title: 28px;
    }


    .cont
    {
        padding: 0 20px;
    }


    .swiper-button-next,
    .swiper-button-prev
    {
        width: 48px;
        height: 48px;
    }



    /*-----------------
        Mob. header
    -----------------*/
    .mob_header
    {
        margin-bottom: 20px;
        padding: 16px 0;
    }


    .mob_header .logo
    {
        width: 144px;
    }


    .mob_header .logo .name
    {
        font-size: 10px;
        font-weight: 500;

        margin-top: 4px;

        color: #555;
    }


    .mob_header .phone,
    .mob_header .work_time,
    .mob_header .messengers
    {
        display: none;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head
    {
        margin-bottom: 30px;
    }


    .block_head .title br
    {
        display: none;
    }


    .block_head .desc
    {
        font-size: 15px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section
    {
        margin-bottom: 60px;
    }


    .first_section .info
    {
        padding: 30px;
    }


    .first_section .info .title
    {
        font-size: 32px;
    }


    .first_section .info .desc
    {
        font-size: 15px;

        margin-top: 16px;
    }


    .first_section .info .btn
    {
        font-size: 17px;

        width: 100%;
        margin-top: 20px;
        padding: 15px 30px;
    }



    .first_section .before_after
    {
        height: 400px;
    }


    .first_section .before_after .label
    {
        font-size: var(--font_size);

        top: 20px;
        left: -20px;

        width: 80px;
        padding: 8px;
    }

    .first_section .before_after .label.after
    {
        right: -20px;
    }



    .first_section .pluses .row
    {
        margin-left: 0;
    }


    .first_section .pluses .row > *
    {
        width: 100%;
        margin-left: 0;
    }


    .first_section .pluses .item
    {
        padding: 20px 30px;
    }


    .first_section .pluses .logo
    {
        height: 60px;
    }


    .first_section .pluses .name
    {
        font-size: 17px;
    }



    /*------------------------
        What_is_All-on-4_6
    ------------------------*/
    .what_is_All-on-4_6
    {
        margin-bottom: 60px;
    }


    .what_is_All-on-4_6 .data
    {
        padding: 30px;
    }


    .what_is_All-on-4_6 .info .title
    {
        font-weight: 700;
    }


    .what_is_All-on-4_6 .info .desc
    {
        font-size: var(--font_size);

        margin-top: 16px;
    }


    .what_is_All-on-4_6 .tabs
    {
        margin-top: 20px;
    }


    .what_is_All-on-4_6 .tabs .btn
    {
        font-size: 17px;

        padding: 8px;
    }


    .what_is_All-on-4_6 .info .image
    {
        width: 140px;
        margin: 0 auto 16px;
    }


    .what_is_All-on-4_6 .info .text
    {
        width: 100%;
    }


    .what_is_All-on-4_6 .video
    {
        margin-top: 30px;
    }


    .what_is_All-on-4_6 .video .link
    {
        margin-bottom: 16px;
    }


    .what_is_All-on-4_6 .video .link .icon
    {
        top: -2px;
        right: -15px;

        width: 50px;
        height: 50px;
    }


    .what_is_All-on-4_6 .video .link .icon:after
    {
        width: 16px;
        height: 18px;

        border-top-width: 9px;
        border-bottom-width: 9px;
        border-left-width: 16px;
    }


    .what_is_All-on-4_6 .video .title
    {
        font-size: 20px;

        width: 100%;
    }


    .what_is_All-on-4_6 .video .title br
    {
        display: none;
    }


    .what_is_All-on-4_6 .video .author
    {
        width: 100%;
        margin-top: 10px;
    }



    /*------------------
        Which method
    ------------------*/
    .which_method
    {
        margin-bottom: 60px;
        padding-top: 60px;
    }


    .which_method .photo
    {
        top: -100px;
        right: 0;
        left: 0;

        width: 200px;
        height: 200px;
        margin: 0 auto;
    }


    .which_method .data
    {
        margin-left: 0;
        padding-top: 88px;
        padding-left: 0;
    }


    .which_method .info
    {
        padding: 30px;
    }


    .which_method .info .desc
    {
        font-size: 15px;
    }


    .which_method .info .doctor > *:first-child
    {
        width: 100%;
        margin-right: 0;
    }


    .which_method .info .doctor .post
    {
        font-size: 12px;
    }


    .which_method .info .doctor .name
    {
        font-size: 17px;
    }


    .which_method .info .doctor .name br
    {
        display: none;
    }


    .which_method .info .doctor .experience
    {
        margin-top: 12px;
        padding: 12px 20px;
    }


    .which_method .info .doctor .patients
    {
        margin-top: 12px;
        margin-left: 16px;
        padding: 12px 20px;
    }



    .which_method .form
    {
        width: 100%;
        max-width: 100%;
        margin-left: 0;
        padding: 30px;
    }



    /*----------------
        Advantages
    ----------------*/
    .advantages .item
    {
        padding: 20px;
    }



    /*-----------
        Types
    -----------*/
    .types .type .name
    {
        font-size: 20px;

        margin-bottom: 20px;
    }


    .types .type.main .items
    {
        padding: 20px 0;
    }


    .types .type .btn
    {
        font-size: 17px;

        padding: 15px 30px;
    }



    .types .gallery
    {
        margin-top: 30px;
    }


    .types .gallery .row
    {
        margin-left: 0;
    }


    .types .gallery .row > *
    {
        width: 100%;
        margin-left: 0;
    }



    /*-----------
        Steps
    -----------*/
    .steps .info
    {
        margin-bottom: 20px;
    }


    .steps .info .row
    {
        justify-content: center;

        margin-left: -20px;
    }


    .steps .info .row > *
    {
        width: calc(33.333% - 20px);
        margin-left: 20px;
    }



    .steps .step
    {
        padding: 30px;
    }


    .steps .step .name
    {
        font-size: 20px;
    }


    .steps .step .desc
    {
        font-size: var(--font_size);
    }


    .steps .step .feature > *
    {
        width: 100%;
    }


    .steps .step .feature > * + *
    {
        margin-top: 10px;
        margin-left: 0;
    }


    .steps .step .feature .icon
    {
        width: 36px;
        height: 36px;
    }


    .steps .step .feature .icon + div
    {
        width: calc(100% - 52px);
    }



    /*--------------------
        Our advantages
    --------------------*/
    .our_advantages .data .row
    {
        margin-left: 0;

        --count: 1;
    }


    .our_advantages .data .row > *
    {
        width: 100%;
        margin-left: 0;
    }


    .our_advantages .item .exp
    {
        margin-top: 12px;
    }



    /*----------------
        Two visits
    ----------------*/
    .two_visits .data
    {
        padding: 30px 30px 223px;
    }


    .two_visits .info .items > *
    {
        padding-left: 40px;
    }


    .two_visits .form
    {
        left: 30px;

        width: calc(100% - 60px);
        max-width: calc(100% - 60px);
    }


    .two_visits .form .title
    {
        font-size: 17px;
    }


    .two_visits .form .line
    {
        width: 100%;
        margin-bottom: 12px;
    }



    /*-------------------
        USA standarts
    -------------------*/
    .USA_standarts
    {
        margin-bottom: 60px;
    }


    .USA_standarts .doctor
    {
        padding: 30px;
    }


    .USA_standarts .doctor .text
    {
        margin-top: 0;
    }


    .USA_standarts .doctor .text:before
    {
        top: -32px;
    }


    .USA_standarts .doctor .info
    {
        order: 2;

        margin-top: 30px;
        padding-left: 120px;
    }


    .USA_standarts .doctor .post
    {
        font-size: var(--font_size);

        margin-bottom: 10px;
    }


    .USA_standarts .doctor .name
    {
        font-size: 22px;
        line-height: 28px;
    }


    .USA_standarts .doctor .award
    {
        font-size: var(--font_size);

        margin-top: 16px;
    }


    .USA_standarts .doctor .photo
    {
        width: 160px;
    }



    .USA_standarts .slider .title
    {
        font-size: 22px;

        margin-bottom: 16px;
    }



    /*-------------
        Doctors
    -------------*/
    .doctors
    {
        margin-bottom: 60px;
        padding: 60px 0;
    }


    .doctors .swiper-slide
    {
        width: 282px;
    }


    .doctors .info
    {
        margin-bottom: 30px;
    }


    .doctors .doctor .photo
    {
        width: 180px;
        height: 180px;
        margin-bottom: 16px;
    }


    .doctors .doctor .name
    {
        font-size: 17px;
    }


    .doctors .doctor .post
    {
        font-size: 13px;
    }



    /*-----------
        Order
    -----------*/
    .order
    {
        margin-bottom: 60px;
    }


    .order .data
    {
        padding: 30px;
    }


    .order .info
    {
        width: 100%;
    }


    .order .form
    {
        width: 100%;
        margin-top: 30px;
    }


    .order .agree
    {
        margin-top: 10px;
    }



    /*-------------
        Results
    -------------*/
    .results
    {
        margin-bottom: 60px;
    }


    .results .reviews
    {
        margin-top: 40px;
    }


    .results .reviews .logo
    {
        height: 44px;
    }


    .results .reviews .rating .val
    {
        font-size: 22px;
        line-height: 18px;
    }


    .results .reviews .rating .count
    {
        font-size: 12px;
    }



    /*------------
        prices
    ------------*/
    .prices
    {
        margin-bottom: 60px;
        padding: 60px 0;
    }


    .prices .item .logo
    {
        width: 100%;
        margin-bottom: 20px;
    }


    .prices .item .info
    {
        width: 100%;
    }


    .prices .item .name
    {
        font-size: 17px;
    }


    .prices .item .price
    {
        width: 100%;

        text-align: center;
    }


    .prices .item .features
    {
        width: 100%;
        margin-top: 16px;

        column-gap: 20px;
    }



    /*--------------------
        Free admission
    --------------------*/
    .free_admission .data
    {
        padding: 30px 30px 223px;
    }


    .free_admission .info .items > *
    {
        padding-left: 40px;
    }


    .free_admission .form
    {
        left: 30px;

        width: calc(100% - 60px);
        max-width: calc(100% - 60px);
    }


    .free_admission .form .title
    {
        font-size: 17px;
    }


    .free_admission .form .line
    {
        width: 100%;
        margin-bottom: 12px;
    }



    /*---------------------
        Network clinics
    ---------------------*/
    .network_clinics
    {
        margin-bottom: 60px;
    }


    .network_clinics .data
    {
        width: 100%;
        max-width: 100%;
    }


    .network_clinics .image
    {
        width: 100%;
        height: auto;
        margin-top: 30px;
        padding-bottom: 66.666%;
    }



    /*--------------
        Benefits
    --------------*/
    .benefits .row
    {
        margin-left: 0;
    }


    .benefits .row > *,
    .benefits .row > *.big
    {
        width: 100%;
        margin-left: 0;
    }


    .benefits .item .icon
    {
        margin-bottom: 16px;
    }



    /*-------------------
        Photo gallery
    -------------------*/
    .photo_gallery .swiper-slide
    {
        width: 360px;
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info
    {
        padding: 0;
    }


    .contacts_info .data
    {
        width: 100%;
        padding: 30px;
    }


    .contacts_info .phone
    {
        font-size: 22px;
    }


    .contacts_info .location
    {
        font-size: 15px;

        margin-top: 20px;
    }


    .contacts_info .btn
    {
        font-size: 17px;

        margin-top: 24px;
        padding: 15px 30px;
    }


    .contacts_info #map
    {
        position: relative;

        height: 400px;
        margin-top: 30px;
    }



    /*------------
        Footer
    ------------*/
    footer
    {
        padding: 40px 0 20px;
    }


    footer .col
    {
        width: 100%;
    }


    footer .col + .col
    {
        margin-top: 20px;
    }


    footer .exp
    {
        width: 100%;
    }


    footer .creator
    {
        order: 2;

        margin-top: 20px;
    }
}
